* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
}

.cactus {
  background: url("./assets/cactus.png");
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 60px;
}

.dino {
  width: 60px;
  height: 60px;
  background: url("./assets/dino.png");
  position: absolute;
  bottom: 0;
  left: 80px;
}

.game-over {
  text-align: center;
  color: #666;
  margin-top: 40vh;
}

@keyframes slideright {
  from {
    background-position: 70000%;
  }
  to {
    background-position: 0%;
  }
}

.background {
  position: absolute;
  bottom: 0px;
  background-image: url("./assets/background.png");
  background-repeat: repeat-x;
  animation: slideright 600s infinite linear;
  -webkit-animation: slideright 600s infinite linear;
  width: 100%;
  height: 200px;
}
